
git-cheat-sheet.pdf
project0/maralexv-CS50W-Project0.mp4
project1/maralexv-CS50W-Project1.mov
project1/__pycache__/app.cpython-36.pyc
project1/flask_session/2029240f6d1128be89ddc32729463129
project1/flask_session/25db0eefee4a4123e73a2906fead0186
project1/flask_session/c5c25dc0605fb99cf332dfd33881e217
*.mp4
CS50W_Materials/.DS_Store
CS50W_Materials/notes/1.Flask_Python.pdf
CS50W_Materials/notes/2.SQL.pdf
CS50W_Materials/notes/3.ORM_APIs.pdf
CS50W_Materials/notes/4.JS.pdf
CS50W_Materials/notes/5.FrontEnds.pdf
CS50W_Materials/src2/classes.py
CS50W_Materials/src2/conditions.py
CS50W_Materials/src2/conditions/application.py
CS50W_Materials/src2/conditions/templates/index.html
CS50W_Materials/src2/decorators.py
CS50W_Materials/src2/dictionaries.py
CS50W_Materials/src2/first/application.py
CS50W_Materials/src2/forms/application.py
CS50W_Materials/src2/forms/templates/hello.html
CS50W_Materials/src2/forms/templates/index.html
CS50W_Materials/src2/forms/templates/layout.html
CS50W_Materials/src2/functions.py
CS50W_Materials/src2/hello.py
CS50W_Materials/src2/inheritance/application.py
CS50W_Materials/src2/inheritance/templates/index.html
CS50W_Materials/src2/inheritance/templates/layout.html
CS50W_Materials/src2/inheritance/templates/more.html
CS50W_Materials/src2/loops/application.py
CS50W_Materials/src2/loops/templates/index.html
CS50W_Materials/src2/loops0.py
CS50W_Materials/src2/loops1.py
CS50W_Materials/src2/macros/application.py
CS50W_Materials/src2/macros/static/styles.css
CS50W_Materials/src2/macros/templates/index.html
CS50W_Materials/src2/macros/templates/layout.html
CS50W_Materials/src2/modules.py
CS50W_Materials/src2/name.py
CS50W_Materials/src2/notes/application.py
CS50W_Materials/src2/notes/static/styles.css
CS50W_Materials/src2/notes/templates/index.html
CS50W_Materials/src2/notes/templates/layout.html
CS50W_Materials/src2/notes/templates/more.html
CS50W_Materials/src2/routes0/application.py
CS50W_Materials/src2/routes1/application.py
CS50W_Materials/src2/sequences.py
CS50W_Materials/src2/sets.py
CS50W_Materials/src2/static/application.py
CS50W_Materials/src2/static/static/styles.css
CS50W_Materials/src2/static/templates/index.html
CS50W_Materials/src2/static/templates/layout.html
CS50W_Materials/src2/static/templates/more.html
CS50W_Materials/src2/templates/application.py
CS50W_Materials/src2/templates/templates/index.html
CS50W_Materials/src2/urls/application.py
CS50W_Materials/src2/urls/templates/index.html
CS50W_Materials/src2/urls/templates/more.html
CS50W_Materials/src2/variables.py
CS50W_Materials/src2/variables0/application.py
CS50W_Materials/src2/variables0/templates/index.html
CS50W_Materials/src2/variables1/application.py
CS50W_Materials/src2/variables1/templates/index.html
CS50W_Materials/src3/airline0/application.py
CS50W_Materials/src3/airline0/templates/error.html
CS50W_Materials/src3/airline0/templates/index.html
CS50W_Materials/src3/airline0/templates/layout.html
CS50W_Materials/src3/airline0/templates/success.html
CS50W_Materials/src3/airline1/application.py
CS50W_Materials/src3/airline1/templates/error.html
CS50W_Materials/src3/airline1/templates/flight.html
CS50W_Materials/src3/airline1/templates/flights.html
CS50W_Materials/src3/airline1/templates/index.html
CS50W_Materials/src3/airline1/templates/layout.html
CS50W_Materials/src3/airline1/templates/success.html
CS50W_Materials/src3/clauses.sql
CS50W_Materials/src3/create.sql
CS50W_Materials/src3/delete.sql
CS50W_Materials/src3/flights.csv
CS50W_Materials/src3/import.py
CS50W_Materials/src3/index.sql
CS50W_Materials/src3/insert.sql
CS50W_Materials/src3/joins.sql
CS50W_Materials/src3/list.py
CS50W_Materials/src3/notes/application.py
CS50W_Materials/src3/notes/static/styles.css
CS50W_Materials/src3/notes/templates/index.html
CS50W_Materials/src3/notes/templates/layout.html
CS50W_Materials/src3/notes/templates/more.html
CS50W_Materials/src3/passengers.py
CS50W_Materials/src3/select.sql
CS50W_Materials/src3/update.sql
CS50W_Materials/src4/airline1/application.py
CS50W_Materials/src4/airline1/templates/error.html
CS50W_Materials/src4/airline1/templates/flight.html
CS50W_Materials/src4/airline1/templates/flights.html
CS50W_Materials/src4/airline1/templates/index.html
CS50W_Materials/src4/airline1/templates/layout.html
CS50W_Materials/src4/airline1/templates/success.html
CS50W_Materials/src4/airline2/application.py
CS50W_Materials/src4/airline2/models.py
CS50W_Materials/src4/airline2/templates/error.html
CS50W_Materials/src4/airline2/templates/flight.html
CS50W_Materials/src4/airline2/templates/flights.html
CS50W_Materials/src4/airline2/templates/index.html
CS50W_Materials/src4/airline2/templates/layout.html
CS50W_Materials/src4/airline2/templates/success.html
CS50W_Materials/src4/airline3/application.py
CS50W_Materials/src4/airline3/models.py
CS50W_Materials/src4/airline3/templates/error.html
CS50W_Materials/src4/airline3/templates/flight.html
CS50W_Materials/src4/airline3/templates/flights.html
CS50W_Materials/src4/airline3/templates/index.html
CS50W_Materials/src4/airline3/templates/layout.html
CS50W_Materials/src4/airline3/templates/success.html
CS50W_Materials/src4/airline4/application.py
CS50W_Materials/src4/airline4/models.py
CS50W_Materials/src4/airline4/templates/error.html
CS50W_Materials/src4/airline4/templates/flight.html
CS50W_Materials/src4/airline4/templates/flights.html
CS50W_Materials/src4/airline4/templates/index.html
CS50W_Materials/src4/airline4/templates/layout.html
CS50W_Materials/src4/airline4/templates/success.html
CS50W_Materials/src4/airline5/application.py
CS50W_Materials/src4/airline5/models.py
CS50W_Materials/src4/airline5/templates/error.html
CS50W_Materials/src4/airline5/templates/flight.html
CS50W_Materials/src4/airline5/templates/flights.html
CS50W_Materials/src4/airline5/templates/index.html
CS50W_Materials/src4/airline5/templates/layout.html
CS50W_Materials/src4/airline5/templates/success.html
CS50W_Materials/src4/classes0.py
CS50W_Materials/src4/classes1.py
CS50W_Materials/src4/classes2.py
CS50W_Materials/src4/classes3.py
CS50W_Materials/src4/classes4.py
CS50W_Materials/src4/classes5.py
CS50W_Materials/src4/create.py
CS50W_Materials/src4/currency0.py
CS50W_Materials/src4/currency1.py
CS50W_Materials/src4/currency2.py
CS50W_Materials/src4/env.sh
CS50W_Materials/src4/flights.csv
CS50W_Materials/src4/google.py
CS50W_Materials/src4/import0.py
CS50W_Materials/src4/import1.py
CS50W_Materials/src4/list0.py
CS50W_Materials/src4/list1.py
CS50W_Materials/src4/models.py
CS50W_Materials/src4/passengers0.py
CS50W_Materials/src4/passengers1.py
CS50W_Materials/src5/colors0.html
CS50W_Materials/src5/colors1.html
CS50W_Materials/src5/colors2.html
CS50W_Materials/src5/colors3.html
CS50W_Materials/src5/counter0.html
CS50W_Materials/src5/counter1.html
CS50W_Materials/src5/counter2.html
CS50W_Materials/src5/counter3.html
CS50W_Materials/src5/counter3.js
CS50W_Materials/src5/currency/application.py
CS50W_Materials/src5/currency/static/index.js
CS50W_Materials/src5/currency/templates/index.html
CS50W_Materials/src5/events.html
CS50W_Materials/src5/hello0.html
CS50W_Materials/src5/hello1.html
CS50W_Materials/src5/interval.html
CS50W_Materials/src5/query.html
CS50W_Materials/src5/storage.html
CS50W_Materials/src5/tasks0.html
CS50W_Materials/src5/tasks1.html
CS50W_Materials/src5/tasks2.html
CS50W_Materials/src5/variables0.html
CS50W_Materials/src5/variables1.html
CS50W_Materials/src5/variables2.html
CS50W_Materials/src5/vote0/application.py
CS50W_Materials/src5/vote0/static/index.js
CS50W_Materials/src5/vote0/templates/index.html
CS50W_Materials/src5/vote1/application.py
CS50W_Materials/src5/vote1/static/index.js
CS50W_Materials/src5/vote1/templates/index.html
CS50W_Materials/src6/animate0.html
CS50W_Materials/src6/animate1.html
CS50W_Materials/src6/animate2.html
CS50W_Materials/src6/animate3.html
CS50W_Materials/src6/circle0.html
CS50W_Materials/src6/circle1.html
CS50W_Materials/src6/circle2.html
CS50W_Materials/src6/circle3.html
CS50W_Materials/src6/dice0/dice.html
CS50W_Materials/src6/dice1/dice.html
CS50W_Materials/src6/dice1/img/1.png
CS50W_Materials/src6/dice1/img/2.png
CS50W_Materials/src6/dice1/img/3.png
CS50W_Materials/src6/dice1/img/4.png
CS50W_Materials/src6/dice1/img/5.png
CS50W_Materials/src6/dice1/img/6.png
CS50W_Materials/src6/dice2/dice.html
CS50W_Materials/src6/dice2/img/1.png
CS50W_Materials/src6/dice2/img/2.png
CS50W_Materials/src6/dice2/img/3.png
CS50W_Materials/src6/dice2/img/4.png
CS50W_Materials/src6/dice2/img/5.png
CS50W_Materials/src6/dice2/img/6.png
CS50W_Materials/src6/dice3/dice.html
CS50W_Materials/src6/dice3/img/1.png
CS50W_Materials/src6/dice3/img/2.png
CS50W_Materials/src6/dice3/img/3.png
CS50W_Materials/src6/dice3/img/4.png
CS50W_Materials/src6/dice3/img/5.png
CS50W_Materials/src6/dice3/img/6.png
CS50W_Materials/src6/draw0.html
CS50W_Materials/src6/draw1.html
CS50W_Materials/src6/draw2.html
CS50W_Materials/src6/draw2.js
CS50W_Materials/src6/multipage/application.py
CS50W_Materials/src6/multipage/templates/first.html
CS50W_Materials/src6/multipage/templates/layout.html
CS50W_Materials/src6/multipage/templates/second.html
CS50W_Materials/src6/multipage/templates/third.html
CS50W_Materials/src6/posts0/application.py
CS50W_Materials/src6/posts0/templates/index.html
CS50W_Materials/src6/posts1/application.py
CS50W_Materials/src6/posts1/templates/index.html
CS50W_Materials/src6/posts2/application.py
CS50W_Materials/src6/posts2/templates/index.html
CS50W_Materials/src6/posts3/application.py
CS50W_Materials/src6/posts3/templates/index.html
CS50W_Materials/src6/posts4/application.py
CS50W_Materials/src6/posts4/templates/index.html
CS50W_Materials/src6/rect.html
CS50W_Materials/src6/scroll.html
CS50W_Materials/src6/singlepage0/application.py
CS50W_Materials/src6/singlepage0/templates/index.html
CS50W_Materials/src6/singlepage1/application.py
CS50W_Materials/src6/singlepage1/templates/index.html
CS50W_Materials/src6/singlepage2/application.py
CS50W_Materials/src6/singlepage2/templates/index.html
CS50W_Materials/src6/stoplight.html
