.wrap {
  height: 100vh;
  display: flex;
}
.left,
.right {
  overflow-y: scroll;
  padding: 1em;
}
.left {
  flex: 1;
  margin-right: 1em;
}
.right {
  flex: 2;
  margin-left: 1em;
}
.checked {
  color: orange;
}