<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flack</title>
	<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
	<link href="{{ url_for('static', filename='pstyle.css') }}" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
	<section>
	<div class="top" style="color: white;">
		Current Channel Name
	</div>
	</section>
	<section>
	{% block content %}
		
	{% endblock %}
	</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>