<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flack</title>
	<style type="text/css" media="screen">
		.conv-item:hover, .conv-item:focus {
			cursor: pointer;
		}
	</style>
		
	<script>
		document.addEventListener('DOMContentLoaded', function() {

			document.querySelector('#nick').onsubmit = function () {
				// Initialize new request
          		const xhttp = new XMLHttpRequest();
          		const username = document.querySelector('#username').value;
          		xhttp.open('POST', '/channels', true);

          		// Callback function for when request completes
          		xhttp.onload = function() {
          			// Extract JSON data from request
              		const data = JSON.parse(xhttp.responseText);

              		// Update the user and channels divs
              		if (data.user) {
              			// Welcome User.
              			document.querySelector('#user').innerHTML = `Hello ${data.username}!`;

              			// Display the list of Channels.
              			document.querySelector('#channels').innerHTML = 'Existing chats to join:';
              			console.log(data.channels);
              			data.channels.forEach(add_channels);

              			function add_channels(content) {
              				// Create div with chat channel
              				const item = document.createElement('div');
              				item.className = 'conv-item';
							item.setAttribute('data-goo', content);
              				item.innerHTML = content;
              				document.querySelector('#channels').append(item);
              			};

              			// Make form to add new channel visible
              			document.querySelector('#newch').style.display = "inline";

              			// Make channels clickable
              			var chlist = document.querySelectorAll('.conv-item');
						console.log(chlist);
						chlist.forEach(add_chat_messages);
              		}
              		else {
              			document.querySelector('#user').innerHTML = 'There was an error.';
              			document.querySelector('#channels').innerHTML = 'There was an error.';
              		}
          		};

	          	// Add data to send with request
	          	const data = new FormData();
	          	data.append('username', username);
	          	// Send request
	          	xhttp.send(data);
	          	// Clear the input field
	          	document.querySelector('#nick').reset();
				return false;
			};

			document.querySelector('#addchannel').onsubmit = function () {
				// Initialize new request
          		const xhttp = new XMLHttpRequest();
          		const newchannel = document.querySelector('#newchannel').value;
          		xhttp.open('POST', '/newtopic', true);

          		// Callback function for when request completes
          		xhttp.onload = function() {
          			// Extract JSON data from request
              		const data = JSON.parse(xhttp.responseText);
              		// Update the chat div
              		const chat = document.createElement('div');
              		chat.innerHTML = data.channel;
              		document.querySelector('#chat').append(chat);
          		};

	          	// Add data to send with request
	          	const data = new FormData();
	          	data.append('newchannel', newchannel);
	          	// Send request
	          	xhttp.send(data);
	          	// Clear the input field
	          	document.querySelector('#addchannel').reset();
				return false;
			};

    		function mark(button) {
    			console.log(button);
        		button.onclick = function() {
        			console.log(this);
            		this.parentElement.style.color = "red";
        		};
    		};

			function add_chat_messages(button) {
              	button.onclick = function() {
	               // Initialize new request
	          		const xhttp = new XMLHttpRequest();
	          		const channel = button.dataset.goo;
	          		console.log(channel);
	          		xhttp.open('POST', '/messages', true);

	          		// Callback function for when request completes
	          		xhttp.onload = function() {
	          			// Extract JSON data from request
	              		const data = JSON.parse(xhttp.responseText);
	              		console.log(data);
	              		// Update the chat div
	              		const chat = document.createElement('div');
	              		chat.innerHTML = data.channel;
	              		document.querySelector('#chat').append(chat);
	              		const msarea = document.createElement('div');
	              		msarea.className = '';
	              		const me = data.me;
	              		const meslist = data.messages;
	              		meslist.forEach(function(message) {
	              			const mplace = document.createElement('div');
	              			const user = document.createElement('div');
	              			if (me == message.user) {
	              				user.className = '';
	              			}
	              			else {
	              				user.className = '';
	              			}
	              			user.innerHTML = message.user;
	              			const dt = document.createElement('span');
	              			dt.className = '';
	              			let dateTime = message.timestamp.split(' ');
	              			let date = dateTime[1] + '-' + dateTime[2];
	              			let time = dateTime[4].split(':')
	              			dt.innerHTML = date + ' ' + time[0] + ':' + time[1];
	              			const text = document.createElement('div');
	              			text.innerHTML = message.text;
	              			user.append(dt);
	              			mplace.append(user);
	              			mplace.append(text);
	              			msarea.append(mplace);
	              			});
	              		document.querySelector('#chat').append(msarea);
	          		};

		          	// Add data to send with request
		          	const data = new FormData();
		          	data.append('channel', channel);
		          	// Send request
		          	xhttp.send(data);
		          	return false;
              	}; 
          	};

		});
		
	</script>

</head>
<body>

	<div id="who" style="display: inline-flex;">
		<form id="nick" action="" method="POST" accept-charset="utf-8">
			<label for="username">Let us know how you want to be called: 
				<input id="username" type="text" name="username" autofocus autocomplete="off" placeholder="Choose your nickname">
			</label>
			<input type="submit" value="Proceed...">
		</form>
	</div>

	<div id="user">
		
	</div>
	
	<div id="channels">
		
	</div>

	<div style="display: inline-flex;">
		<div id="newch" style="display: none">
			<form id="addchannel" action="" method="POST" accept-charset="utf-8">
				<label for="channelname">Here you can create a new chat topic:
					<input id="newchannel" type="text" name="channelname" autofocus autocomplete="off" placeholder="New channel name">
				</label>
				<input type="submit" value="Create">
			</form>
		</div>
	</div>

	<div id="chat">
		
	</div>
	
	<div id="message">
		
	</div>
		
</body>
</html>