<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flack</title>
	<style type="text/css" media="screen">
		
	</style>

	<script>
		document.addEventListener('DOMContentLoaded', function() {

			document.querySelector('#nick').onsubmit = function () {
				// Initialize new request
          		const xhttp = new XMLHttpRequest();
          		const username = document.querySelector('#username').value;
          		xhttp.open('POST', '/channels', true);

          		// Callback function for when request completes
          		xhttp.onload = function() {
          			// Extract JSON data from request
              		const rdata = JSON.parse(xhttp.responseText);
              		// Update the user and channels divs
              		if (rdata.user) {
              			const user = `Hello ${rdata.username}!`;
              			const channels = `${rdata.channels}`;
              			document.querySelector('#user').innerHTML = user;
              			document.querySelector('#channels').innerHTML = channels;
              		}
              		else {
              			document.querySelector('#user').innerHTML = 'There was an error.';
              			document.querySelector('#channels').innerHTML = 'There was an error.';
              		}
          		};

	          	// Add data to send with request
	          	const data = new FormData();
	          	data.append('username', username);
	          	// Send request
	          	xhttp.send(data);
	          	// Clear the input field
	          	document.querySelector('#nick').value = '';
				return false;
			};

		});
		
	</script>

</head>
<body>

	<div id="who">
		<form id="nick" action="" method="POST" accept-charset="utf-8">
			<input id="username" type="string" name="username" autofocus autocomplete="off" placeholder="Choose your nickname">
			<input type="submit" value="Register">
		</form>
	</div>

	<div id="user">
		
	</div>
	
	<div id="channels">
		
	</div>

	<div id="chat">
		
	</div>
	<div id="message">
		
	</div>
		
</body>
</html>