$main-font: 'Lato', sans-serif;
$big-font: 'Raleway', sans-serif;
$prime-color: #2c272d;
$sec-color: #eaeaea;
$ter-color: #bd0000;
$quat-color: #bd0000;
$radius: 4px;



@import 'base';
@import 'menus';
