$main-font: 'Lato', sans-serif;
$big-font: 'Raleway', sans-serif;
$dark-color: #201E2A;
$light-color: #FBFAFB;
$shad-color: hsla(13, 21%, 65%, 1);
$shad2-color: hsla(13, 21%, 65%, 0.5);
$emph-color: #E65C2E;
$complement-color: #2eb8e6;
$radius: 4px;


// ----------- Initial Settings ----------- //

html {
  color: $dark-color;
  background-color: $light-color;
}

body {
  max-width: 100%;
  font-family: $main-font;
  font-size: 1rem;
  text-align: left;
  margin: 0 4% 0 4%;
  padding: 1%;
}

header,
main,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border: 1px solid $emph-color;
  width: 100%;
  margin: auto;
  background-color: transparent;

  th, td {
    padding: 0.8em;
    vertical-align: middle;
    border: 1px solid $emph-color;
  }

  th {
    font-weight: 800;
    font-size: 1.5vw;
    color: $light-color;
    background-color: $emph-color;
  }

  td {
    font-size: 1.3vw;
  }

  caption {
    font-size: inherit;
    font-style: italic;
  }
}

a {
  padding: 2px;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  opacity: 0.8;
}

a:active,
a:hover {
  color: inherit;
  text-decoration: underline;
}

img { 
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  display: block;
}

.img-border {
  border: 4px solid $shad-color; 
  box-shadow: 1px 1px 5px 6px $shad2-color;
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


%heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $big-font;
  color: $emph-color;
  font-weight: 600;
  background-color: inherit;
}

h1 {
@extend %heading;
font-size: 4em;
}

h2 {
@extend %heading;
font-size: 3.2em;
}

h3 {
@extend %heading;
font-size: 2.6em;
}

h4 {
@extend %heading;
font-size: 2em;
}

h5 {
@extend %heading;
font-size: 1.4em;
}

h6 {
@extend %heading;
font-size: 1em;
}

@media screen and (min-width: 576) {
  h1{font-size: 2.5em;}
  h2{font-size: 2.2em;}
  h3{font-size: 1.9em;}
  h4{font-size: 1.4em;}
  h5{font-size: 1em;}
  h6{font-size: 0.9em;}
}

@media screen and (max-width: 768px) {
  h1{font-size: 3em;}
  h2{font-size: 2.5em;}
  h3{font-size: 2em;}
  h4{font-size: 1.5em;}
  h5{font-size: 1em;}
  h6{font-size: 0.95em;}
}

p {
  margin-top: 0;
  font-family: $main-font;
  font-size: 1.3vw;
  color: $dark-color;
  background-color: inherit;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.75;
  font-size: 1.25vw;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  vertical-align: middle;
  margin: auto;
  padding: 8px;
  font-family: $main-font;
  font-size: 1.2vw;
  color: $light-color;
  background-color: $emph-color;
  white-space: nowrap;
  z-index: 3;
}


// ----------- Alignments  ----------- //

.col {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1px;
  padding: 1em 1em 1em 1em;
}

@media (max-width: 576px) {
  .col {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .col {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .col {
    max-width: 960px;
  }
}


%rows {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 1px;
  padding: 0 1em 0 1em;;
  margin: 0 auto 0 auto;
}

.row {
  @extend %rows;
  align-items: flex-start;
  justify-content: flex-start;
}

.row-right {
  @extend %rows;
  align-items: flex-start;
  justify-content: flex-end;
}

.row-center {
  @extend %rows;
  align-items: center;
  justify-content: center;
}

.row-edges {
  @extend %rows;
  align-items: flex-start;
  justify-content: space-between;
}


.float-left {
  float: left;
}

.float-center {
  margin: auto;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.box {
  position: relative;
  min-width: 12em;
  margin: 1em 1em 1em 1em ;
  padding: 1em;
  border: 1px solid $shad-color;
  border-radius: 0.4rem;
  // box-shadow: 3px 3px 5px $shad-color;
  word-wrap: break-word;
  background-color: $light-color;
  background-clip: padding-box;

  .box-line > hr {
    margin-right: 0;
    margin-left: 0;
  }

  .box-header > h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin-top: 2px;
    align-vertical: top;
  }

}

.box:hover {
  transform: scale(1.02);
}


// ---------- Menues / NAVs ------------ //

.menu-fixed_vertical {
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: $emph-color;
  box-shadow: 1px 0px 4px 1px $shad-color;
  z-index: 3;

  .menu-list {
    position: relative;
    display: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    position: relative;
    padding: 0.3rem;
    margin: 1rem 0.15rem 1rem 0.15rem;
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    font-family: $big-font;
    font-size: 1.6vw;
    font-weight: 600;
    color: $light-color;
    text-align: center;

    a {
      display: block;
      padding: 6px 6px;
      text-decoration: none;
    }

    a.active {
      background-color: $shad-color;
      color: $light-color;
    }

    a:hover, a:focus {
      background-color: $shad2-color;
    }
  }
}


.menu-fixed-horizontal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $emph-color;
  box-shadow: 0px 1px 4px 1px $shad-color;
  z-index: 3;

  .menu-list {
    position: relative;
    display: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    position: relative;
    padding: 0.2rem;
    margin: 0.1rem 1rem 0.1rem 1rem;
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    font-family: $big-font;
    font-size: 1.6vw;
    font-weight: 600;
    color: $light-color;
    text-align: center;

    a {
      display: block;
      padding: 6px 6px;
      text-decoration: none;
    }

    a.active {
      background-color: $shad-color;
      color: $light-color;
    }

    a:hover, a:focus {
      background-color: $shad2-color;
    }
  }
}


// ----------- SPECIAL IDs  ----------- //

#width-max {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}



