$main-font: 'Lato', sans-serif;
$big-font: 'Raleway', sans-serif;
$prime-color: #2c272d;
$sec-color: #eaeaea;
$ter-color: #bd0000;
$quat-color: #bd0000;
$radius: 4px;


// ---------- Menues ------------ //

.menu-fixed {
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $ter-color;
  z-index: 3;
}

.menu-list {
	position: relative;
	display: inherit;
	list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
	position: relative;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 100%;
  font-family: $big-font;
  font-size: 1.5rem;
  font-weight: 500;
  color: $prime-color;
}

.menu-item:hover, 
.menu-item:focus {
	text-decoration: none;
	transform: scale(1.1);
}


.menu-fixed-horizontal {
	position: fixed;
	left: 0;
  top: 0;
  display: flex;
	width: 100%;
	white-space: nowrap;
	vertical-align: middle;
	background-color: $ter-color;
  z-index: 3;
}


.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
	width: 100%;
	white-space: nowrap;
	vertical-align: middle;
	background-color: $ter-color;
  z-index: 3;
}

.footer-item {
	position: relative;
  padding: 0;
  margin: auto;
  font-family: $main-font;
  font-size: 1.15rem;
  font-weight: 400;
  color: $prime-color;
}

