{% extends "base.html" %}
{%set active_page = 'Book Selected' -%}
{% block title %}{{ active_page }}{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="flex row"> 
			<div class="col-5 left">
				<h4>The book you have selected:</h4>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Author: <strong>{{ book.author }}</strong></li>
					<li class="list-group-item">Title: "<strong>{{ book.title }}</strong>"</li>
					<li class="list-group-item">ISBN: <strong>{{ book.isbn }}</strong></li>
					<li class="list-group-item">Year published: <strong>{{ book.year }}</strong></li>
					<li class="list-group-item">Average Rating: <strong></strong></li>
					<li class="list-group-item">Times rated: <strong></strong></li>
					<li class="list-group-item">Good Reads Rating: <strong></strong></li>
					<li class="list-group-item">Times rated on Good Reads: <strong></strong></li>
				</ul>
				<br>
				<p>All reviews by the users of this site for this book.</p> 
				
			</div>
				<div class="col-1"></div>
			<div class="col-6 right">
				{% if usereval %}
					{% if usereval.rating == 1 %}
					{% set eval = 'Waste of time' %}
					{% elif usereval.rating == 2  %}
					{% set eval = 'So-so' %}
					{% elif usereval.rating == 3  %}
					{% set eval = 'Okeyish' %}
					{% elif usereval.rating == 4  %}
					{% set eval = 'Good' %}
					{% else %}
					{% set eval = 'Excellent' %}
					{% endif %}
				<h5>Your Rating for This Book: <span style="color: #8c6815;">{{ eval }}</span></h5>
				<div class="row">
					<div class="col-3"><h5>Your Review:</h5></div>
					<div class="col-9">{{ usereval.review }}</div>
				</div>
				{% else %}
				<form method="POST">
					<div class="form-group col-5 row">
						<label for="rating">Your Rating</label>
				    	<select class="custom-select" name="rating" id="rating" required>
				    		<option value="">Choose...</option>
				    		<option value="1">1 - Waste of time</option>
				    		<option value="2">2 - So-so</option>
				    		<option value="3">3 - Okeyish</option>
				    		<option value="4">4 - Good</option>
				    		<option value="5">5 - Excellent</option>
				    	</select>
				  	</div>
					<div class="form-group row col-auto">
						<label for="review">Review</label>
				    	<textarea class="form-control" name="review" id="review" rows="5" placeholder="Write up your review for this book here"></textarea>
				  	</div>
				    <button type="submit" class="btn btn-dark">Submit</button>
			  	</form>
			  	{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}